<div class="ui form">
  <a class="ui blue ribbon label" onclick="retrieveBookingInfo()">Edit Information</a>
  <h2 class="ui dividing header">Your Booking Information</h2>

  <% if @booking_params["adult"] %>
    <% info = @booking_params["adult"].first %>
    <p>Name: <span> <%= info['name'] %> </span></p>
    <p>Airline: <span><%= @flight.airline.try(:name) %></span></p>
    <p>From: <span><%= @flight.from_airport.try(:name) %></span></p>
    <p>To: <span><%= @flight.to_airport.try(:name) %></span></p>

  <% end %>

  <h2 class="ui dividing header">Flight Fare</h2>
  <p>Total Cost: <span><%= @flight.price %></span></p>

  <%= link_to payment_path do %>
    <div class="ui center aligned grid">
      <button class="ui teal button">Ok, I am ready to make payment</button>
    </div>
  <% end %>
</div>
