<div class="ui form">
  <a class="ui blue ribbon label" onclick="retrieveBookingInfo()">Edit Information</a>
  <h2 class="ui dividing header">Your Booking Information</h2>

  <% if @booking_params["adult"] %>
    <% @booking_params["adult"].each.with_index(1) do |adult, index|  %>
      <h2 class="ui dividing header">Adult Passenger <%= index %> Information</h2>
      <p>Name: <span> <%= adult["name"] %> </span></p>
      <p>Fee: <span><%= "500 Euro" %></span></p>
    <% end %>
  <% end %>

  <h2 class="ui dividing header">Flight Fare</h2>
  <p>Total Cost: <span><%= "444" %></span></p>

  <%= link_to payment_path do %>
    <div class="ui center aligned grid">
      <button class="ui teal button">Ok, I am ready to make payment</button>
    </div>
  <% end %>
</div>
