<%= form_tag confirm_book_path, method: "post", class: "ui form", remote: true do %>
  <h4 class="ui dividing header">Please provide your information</h4>
  <div class="two fields">
    <div class="field">
      <%= label_tag :name, "Full Name" %>
      <%= show_name %>
    </div>
    <div class="field">
      <%= label_tag :email, "Email" %>
      <%= show_email %>
    </div>
  </div>

  <div id="form-holder"></div>

  <div class="ui center aligned grid">
    <%= submit_tag "Submit", class: "ui basic blue button" %>
  </div>

<% end %>
